<div class="movie_index">
	<h1>Movie Search App</h1>
	<h2>Search for movie details</h2>	
</div>
<form class="search_index" action="/movie_listing">
	<input type="text" placeholder="Movie Title" name="title">
	<button class="fa fa-search"></button>
</form>